target/
**/target/

*.class
**/*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.log

.idea/
*.iml
.vscode/
nbproject/private/
build/
nbbuild/
dist/
**/nbproject/private/
**/build/
**/dist/
**/nbbuild/

.DS_Store
Thumbs.db